!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %link{:href => "http://fonts.googleapis.com/css?family=Exo|Open+Sans:400,600|Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"}/
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width", :name => "viewport"}/
  %title Rawley Speed :: Web Design and Development
  %link{:href => "stylesheets/normalize.css", :rel => "stylesheet"}/
  %link{:href => "stylesheets/custom2.css", :rel => "stylesheet"}/
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  %script{:src => "javascripts/vendor/custom.modernizr.js"}
%body
  .row.header
    .large-12.columns
      %a{:href => "index.html"} 
        .subhead
          %p web development with a fistful of pixels
  / Three-up Content Blocks
  .row.seam-row
    .large-12.columns.hrseam
  .row.about-section
    .large-12.columns
      .about-section-row
        .large-4.columns.about-sections
          %img{:src => "img/selfport.png"}/
          .row
            .large-10.columns.large-centered.small-10.columns.small-centered
              .about-section-title
                %h4 This is me
                %p Hi, I'm Rawley, pleased to meet you. I'm a developer, designer, ui/ux, front-end, etc., kind of web guy. <b>Graphic Engineer</b> has a nice ring to it, don't you think?

        .large-4.columns.about-sections
          %img{:src => "img/devices.png"}/
          .row
            .large-10.columns.large-centered.small-10.columns.small-centered
              .about-section-title
                %h4 This is what i do
                %p Mostly design and develop of websites and applications for desktop and mobile devices (and also for the devices of the future!) 

        .large-4.columns.about-sections
          %img{:src => "img/tools.png"}/
          .row
            .large-10.columns.large-centered.small-10.columns.small-centered
              .about-section-title
                %h4 This is what I use
                %p I know my way around the command line and have experience with Html, CSS, JS, Flash/Flex, Sass, Coffeescript, Haml, SVN, Git and a host of others. I'm pretty handy with the pen tool too.
  .row.seam-row
    .large-12.columns.hrseam
  .row.portfolio-section
    .large-10.large-centered.columns
      .row
        .large-12.large-centered.columns
          %section.portfolio-content
            %h1 &larr; scroll or swipe &rarr;
            .carousel
              .shots-container
                %ul.shots
                  %li
                    %a{"data-reveal-id" => "slt_popup", :href => "#"}
                      %img{:alt => "web design and development Sweet Leaf Tea", :src => "img/portfolio-slt-th.jpg"}/
                  %li
                    %a{"data-reveal-id" => "schlot_popup", :href => "#"}
                      %img{:alt => "web design and development Schlotzsky's", :src => "img/portfolio-schlot-th.jpg"}/
                  %li
                    %a{"data-reveal-id" => "friskies_popup", :href => "#"}
                      %img{:alt => "web design and development Friskies website", :src => "img/portfolio-friskies-th.jpg"}/
                  %li
                    %a{"data-reveal-id" => "dell_popup", :href => "#"}
                      %img{:alt => "web design and Development Dell computers", :src => "img/portfolio-dellApp-th.jpg"}/
                  %li
                    %a{"data-reveal-id" => "stubbs_popup", :href => "#"}
                      %img{:alt => "web design and development Stubbsbbq.com", :src => "img/portfolio-stubbs-th.jpg"}/
                  %li
                    %a{:href => "illustration.html"}
                      %img{:alt => "digital illustration", :src => "img/portfolio-illustration-th.jpg"}/
                  %li
                    %a{"data-reveal-id" => "amd_popup", :href => "#"}
                      %img{:alt => "Design and Development AMD timeline of the web", :src => "img/portfolio-amd-th.jpg"}/
              %span.mask.mask-right
              %span.mask.mask-left

  / Footer
  .row.footer
    .large-12.large-centered.columns
      %h1.social-header Me on the Web
      %p You can find, follow or contact me at these sites:
      %ul.social
        %li.icon-linkedin
          %a{:href => "http://www.linkedin.com/in/rawleyspeed"} LinkedIn
        %li.icon-twitter
          %a{:href => "https://twitter.com/Mixinz"} Twitter
        %li.icon-lastfm
          %a{:href => "http://www.last.fm/user/Gorillawit"} Last.FM
        %li.icon-pinterest
          %a{:href => "http://pinterest.com/gorillawit/"} Pinterest
        %li.icon-mail
          %a{:href => "mailto:rspeed@brandospeed.com"} Email
      %p.copyright &copy;Brandospeed 2013


  #slt_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-slt.jpg", :alt => "sweetleaf tea"}/
      .large-4.large.columns
        %h2 Sweetleaf Tea
        %p Design and development for Sweetleaf Tea website. The finished product has enough zip and pow for 10 websites.
        %a{:href => "http://www.sweetleaftea.com"} Go to site &rarr;
    %a.close-reveal-modal ×




  #schlot_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-schlot.jpg", :alt => "schlotzskys"}/
      .large-4.large.columns
        %h2 Schlotzsky's Deli
        %p Design and development for Schlotzsky's Deli website. My favorite's the Angus Roast Beef &amp; Cheese, how about you?
        %a{:href => "sites/shlot"} Go to site &rarr;
    %a.close-reveal-modal ×


  #friskies_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-friskies.jpg", :alt => "friskies"}/
      .large-4.large.columns
        %h2 Friskies
        %p Some of the many designs for the Friskies website. A redesign of the Friskies website was a perfect chance to find out once and for all if cat's could play games on a touch-screen tablet (they can!)
        %a{:href => "http://www.friskies.com"} Go to site &rarr;
    %a.close-reveal-modal ×



  #dell_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-dellApp.jpg", :alt => "dell"}/
      .large-4.large.columns
        %h2 Dell Mobile Carrier App
        %p Design and development of Dell Mobile's wireless carrier rate tool. Comparing rates for wireless carriers can be quite intimidating. This app helped customers cut through the clutter.
        %a{:href => "sites/dell/dell.html"} See the full app &rarr;
      %a.close-reveal-modal ×




  #stubbs_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-stubbs.jpg", :alt => "stubbs"}/
      .large-4.large.columns
        %h2 Stubbs BBQ
        %p Design and development for Stubb's BBQ Sauce site. Mr. Stubblefield famous restaurant may have had had humble beginings, but he would've been proud to see his image and products displayed on the web with such dignity.
    %a.close-reveal-modal ×


  #amd_popup.reveal-modal
    .row
      .large-8.large.columns
        %img{:src => "img/portfolio-amd.jpg", :alt => "AMD"}/
      .large-4.large.columns
        %h2 AMD web timeline
        %p Design and development for AMD's "History of the Web" timeline. Web history hasn't stopped being made since this project was finished (and plenty on the horizon).
        %a{:href => "sites/amd/amd_movie.html"} See the full app &rarr;
    %a.close-reveal-modal ×

  :javascript
    document.write('<script src=' +
    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
    '.js><\/script>')
  
  %script{:src => "javascripts/foundation/foundation.js"}
  %script{:src => "javascripts/foundation/foundation.alerts.js"}
  %script{:src => "javascripts/foundation/foundation.reveal.js"}
  :javascript
    $(document).foundation();
